html,
body {
  height: 100vh;
  margin: 0;
}

body {
  /* background-image: url("../images/24.jpg"); */
  background-color: azure;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 20px;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.colorP {
  background-color: #e5d9ef;
}

.form-control {
  width: 600px;
  background-color: #e5d9ef;
  box-shadow: 0 0 0 0.2rem rgba(22, 35, 76, 0.816);
}

@media (max-width: 575.98px) {
  .form-control {
    width: 250px;
    background-color: #e5d9ef;
    box-shadow: 0 0 0 0.2rem rgba(22, 35, 76, 0.816);
  }
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 100% !important;
  }
}

.form-control:focus {
  border-color: #1d1145bf;
  box-shadow: 0 0 0 0.2rem rgba(85, 40, 106, 0.697);
  background-color: #e8daf3;
}

#exampleInputPassword1 {
  min-height: 300px;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.colorB {
  color: rgb(14, 135, 135);
}

.icon {
  height: 20px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.container {
  margin: 4em auto;
  padding: 2em;
  /* background-color: #d1b4e9; */
}

.btn {
  border: 1px solid black;
}

textarea.form-control {
  min-height: 300px;
  max-width: 95%;
}
